:root {
  --white: hsl(0, 0%, 100%);
  --darkblueIntro: hsl(217, 28%, 15%);
  --darkblueMain: hsl(218, 28%, 13%);
  --darkblueFooter: hsl(216, 53%, 9%);
  --darkblueTestimonials: hsl(219, 30%, 18%);
  --blueGradient: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  --cyan: hsl(176, 68%, 64%);
  --lightRed: hsl(0, 100%, 63%);

  --fontRaleway: 'Raleway', sans-serif;
  --fontOpenSans: 'Open Sans', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem =10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-size: 1.4rem;
  color: var(--white);
  font-family: var(--fontOpenSans);
  background-color: var(--darkblueMain);
}
a {
  text-decoration: none;
  color: var(--white);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 1rem;
}
.header img {
  display: flex;
  height: 3rem;
}
.header__nav {
  display: flex;
  gap: 2rem;
}
.header__nav a:hover {
  text-decoration: underline;
}
.intro {
  max-width: 37.5rem;
  margin: 0 auto;
  color: var(--white);
  text-align: center;
  line-height: 1.5;
}
.intro__img img {
  width: 100%;
  margin: 2rem 0;
}
.intro__btn {
  background: var(--blueGradient);
  border: none;
  color: var(--white);
  border-radius: 3rem;
  margin-top: 2rem;
  padding: 1.5rem;
  width: 65%;
  font-weight: 700;
}
.intro__btn:hover {
  cursor: pointer;
  background: var(--cyan);
}
.content {
  display: grid;
  margin-top: 8rem;
  text-align: center;
  gap: 8rem;
}
.content__img {
  margin-bottom: 3rem;
}
.productivity {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  padding-bottom: 10rem;
}
.productivity__img img {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 2rem;
}
.productivity a {
  display: flex;
  gap: 0.5rem;
  color: var(--cyan);
}
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 10rem 1rem;
}
.testimonials p {
  margin: 0;
  line-height: 2;
}
.testimonials__card {
  background-color: var(--darkblueTestimonials);
  border-radius: 1rem;
  padding: 3rem 3rem;
}
.testimonials__img img {
  height: 3rem;
  position: absolute;
  margin: -6rem -2rem;
}
.profile {
  display: flex;
  margin-top: 2.5rem;
  gap: 2rem;
}
.profile--img img {
  height: 5rem;
  border-radius: 50%;
}
.profile--info p {
  margin: 0;
}
.profile--name {
  font-weight: 700;
}
.profile--job {
  font-size: 1.2rem;
}
.form {
  background-color: var(--darkblueIntro);
  border-radius: 1rem;
  padding: 3rem 2rem;
  text-align: center;
}
.form--btn {
  background: var(--white);
  border: none;
  color: #000;
  border-radius: 3rem;
  margin-top: 2rem;
  padding: 2rem;
  width: 95%;
  font-weight: 700;
}
.btn {
  background: var(--blueGradient);
  color: var(--white);
}
